{
	"fmus":{
		"{src}":"{{driver_path}}",
		"{bd}":"{{dynamic_path}}"
	},
	"connections": {
		"{src}.srci.deltaf": [
      "{bd}.bdi.deltaf"
    ],
		"{src}.srci.Caf": [
      "{bd}.bdi.Caf"
    ]
	},
	"logVariables":{
		"{bd}.bdi":["X", "Y"]
	},
  "parameters": {},
	"algorithm":{
		"type":"fixed-step",
		"size":0.1
	}
}