{
	"fmus": {
		"{src}": "{{driver_path}}",
		"{bd}": "{{dynamic_path}}",
		"{track}": "{{tracking_path}}"
	},
	"connections": {
		"{src}.srci.deltaf": [
			"{bd}.bdi.deltaf",
			"{track}.tracki.deltaf"
		],
		"{src}.srci.Caf": [
			"{bd}.bdi.Caf"
		],
		"{bd}.bdi.X": [
			"{track}.tracki.to_track_X"
		],
		"{bd}.bdi.Y": [
			"{track}.tracki.to_track_Y"
		]
	},
	"logVariables": {
		"{track}.tracki": [
			"X",
			"Y",
			"tolerance",
			"error",
			"Caf"
		]
	},
	"parameters": {},
	"algorithm": {
		"type": "fixed-step",
		"size": 0.01
	},
	"loggingOn": true,
	"overrideLogLevel": "DEBUG"
}